node_modules/
.env
.DS_Store
*.log
npm-debug.log*
.vscode/
.gcloudignore
service-account-key.json
/.idea/dictionaries/project.xml
/.idea/.gitignore
/.idea/aws.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/wa-chatbot-gcp-ai.iml
